.select {
    position: relative;
    display: inline-block;
    min-height: 27px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
}

.select:after {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

.select input {
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.items {
    position: absolute;
    left: -1px;
    width: 100%;
    border: 1px black solid;
}

.items > div {
    min-height: 27px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.items > div:hover {
    background-color: #1ea7fd;
}